[submodule "websocket-sharp"]
	path = dep/websocket-sharp
	url = https://github.com/PhantomGamers/websocket-sharp
[submodule "dep/BedrockFramework"]
	path = dep/BedrockFramework
	url = https://github.com/mos-ai/BedrockFramework.git
